{% macro displayPitch_cards(pitches) %}
<div class="container-fluid">
    <div class="row">
        {% for pitch in pitches %}
        <div class="col-md-3 pitch-card">
            <h3>{{pitch.category}}</h3>
            <hr>
            <div class="pitchBox">
                <h2>{{pitch.title}}</h2>
                <p>{{pitch.pitch}}</p>
                <div class="sm">
                   <p>Posted by:{{pitch.user.username[:10]}}</p>
                   <p>
                       {{pitch.comments.count()}} Comments
                    <!-- <span>{{pitch.up_vote}}</span> -->
                    <a href="{{url_for('main.comment', pitch_id=pitch.id)}}" class="btn btn-info">Comment</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}